@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    /* Dev bar */
    --dev-bar-height: 0px;
    --footer-height: 2.75rem;

    /* Sidebar */
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 40% 10%;
    --foreground: 30 30% 96%;
    --card: 24 15% 10%;
    --card-foreground: 30 30% 96%;
    --popover: 24 15% 10%;
    --popover-foreground: 30 30% 96%;
    --primary: 20 92% 45%;
    --primary-foreground: 24 15% 8%;
    --secondary: 25 20% 20%;
    --secondary-foreground: 30 30% 96%;
    --muted: 25 20% 20%;
    --muted-foreground: 30 20% 75%;
    --accent: 25 20% 20%;
    --accent-foreground: 30 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 30% 96%;
    --border: 25 20% 20%;
    --input: 25 20% 20%;
    --ring: 24 91.2% 50.8%;

    /* Sidebar */
    --sidebar-background: 24 15% 10%;
    --sidebar-foreground: 30 30% 96%;
    --sidebar-primary: 20 92% 45%;
    --sidebar-primary-foreground: 24 15% 8%;
    --sidebar-accent: 25 20% 20%;
    --sidebar-accent-foreground: 30 30% 96%;
    --sidebar-border: 25 20% 20%;
    --sidebar-ring: 24 91.2% 50.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

