# Production dependencies
-r requirements.prod.in

# API Documentation
coreapi

# Debugging
django-debug-toolbar
django-extensions
ipython

# Testing
pytest>=7.0.0,<8.0.0
pytest-django>=4.11.1
pytest-cov>=6.1.1
pytest-mock>=3.10.0,<4.0.0
pytest-asyncio>=0.20.0,<0.21.0
pytest-xdist>=3.0.0,<4.0.0
coverage>=7.0.0,<8.0.0
requests-mock
factory-boy>=3.2.0,<4.0.0
freezegun>=1.2.0,<2.0.0

# Linting & Formatting
black==23.1.0
isort==5.12.0
flake8>=6.0.0,<7.0.0
flake8-blind-except
flake8-bugbear>=23.1.20,<24.0.0
flake8-builtins
flake8-commas
flake8-comprehensions>=3.10.0,<4.0.0
flake8-debugger
flake8-docstrings
flake8-django>=1.2,<2.0
flake8-eradicate
flake8-isort
flake8-logging-format
flake8-mutable
flake8-print
flake8-pytest-style
flake8-simplify
flake8-tidy-imports
flake8-unused-arguments
mypy==1.0.1
django-stubs[compatible-mypy]>=1.14.0,<2.0.0
djangorestframework-stubs[compatible-mypy]>=1.8.0,<2.0.0
types-requests>=2.28.11.8,<3.0.0.0
types-redis>=4.5.1,<5.0.0
types-freezegun>=1.1.9,<2.0.0
types-pytz>=2023.3.0,<2026.0.0
pep8-naming
pre-commit>=3.0.0,<4.0.0
pylint
ruff>=0.11.4

# Environment/Config
pytest-env
django-environ

# Code quality
factory-boy
faker
mutmut  # Mutation testing
hypothesis>=6.130.9  # Property-based testing

# Documentation
sphinx
sphinx-rtd-theme
mkdocs>=1.4.0,<2.0.0
mkdocs-material>=9.0.0,<10.0.0
mkdocstrings[python]>=0.20.0,<0.21.0

# Development tools
django-browser-reload
watchdog>=2.3.0,<3.0.0
django-redis>=5.2.0
Werkzeug>=2.0.2
pip-tools>=6.4.0

# Security
bandit[toml]>=1.7.4,<2.0.0  # Security testing

# Error tracking
sentry-sdk[django]

# 1Password Integration
onepasswordconnectsdk>=1.4.0
