# Core Django packages
Django>=5.1.8
djangorestframework
django-filter
django-cors-headers

# Database
psycopg2-binary
dj-database-url

# Environment variables
python-dotenv

# Background processing
celery
redis
django-redis
django-celery-results
django-celery-beat
kombu
billiard
amqp
vine
click-didyoumean
click-plugins
click-repl
python-crontab
django-timezone-field

# API Documentation
drf-spectacular
inflection
uritemplate
pyyaml
coreapi

# Authentication
django-allauth
djangorestframework-simplejwt

# User management
django-guardian

# AWS
boto3>=1.37.28
django-storages>=1.14.6

# PDF Generation
WeasyPrint
reportlab

# Utilities
Pillow
python-dateutil
pytz
requests
pydantic>=2.11.2
tabulate
pandas
psutil

# Logging
structlog
python-json-logger

# Email
django-anymail>=13.0

# Production
gunicorn
whitenoise

# Datadog APM and tracing
ddtrace>=3.3.1

# 1Password Connect SDK
onepasswordconnectsdk

# Environment variables
django-environ==0.11.2 